/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    width: 90%; /* Set width to 100% */
    max-width: 400px; /* Set a max-width if needed */
    margin-bottom: 10px; /* Optional margin for spacing between elements */
}

textarea {
    width: 90%; /* Set width to 100% */
    max-width: 600px; /* Set a max-width if needed */
    margin-bottom: 10px; /* Optional margin for spacing between elements */
}
